<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:zzw="http://www.asiainfo.com/schema/service"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util-4.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.0.xsd
       http://www.asiainfo.com/schema/service
       http://www.asiainfo.com/schema/service.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
       ">
	
	<!-- 扫描bean注解 -->
	<context:component-scan base-package="com.asiainfo"></context:component-scan>
	<!-- 定义包含占位符的文件 -->
	<context:property-placeholder location="classpath:db.properties"/>
	<!-- 扫描@Annotation注解，并注入名称为transactionManager的事务管理器 -->
	<tx:annotation-driven></tx:annotation-driven>
	
	<!-- 定义数据源，使用dbcp数据源 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close"
	p:driverClassName="${driver}"
	p:url="${url}"
	p:username="${username}"
	p:password="${password}"></bean>
	
	<!-- 定义事务管理器 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager" p:dataSource-ref="dataSource"></bean>
	
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate" p:dataSource-ref="dataSource"></bean>
	
	<bean id="nje" class="org.springframework.jdbc.support.nativejdbc.CommonsDbcpNativeJdbcExtractor" lazy-init="true"></bean>
	<bean id="lh" class="org.springframework.jdbc.support.lob.DefaultLobHandler" lazy-init="true"></bean>
	
	<!-- 产生自增主键 -->
	<bean id="incre" class="org.springframework.jdbc.support.incrementer.MySQLMaxValueIncrementer" p:incrementerName="t_post_id" p:columnName="seq_id" p:cacheSize="5" p:dataSource-ref="dataSource"></bean>
	
	<!-- 命名参数 -->
	<bean id="npj" class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
		<constructor-arg ref="dataSource"></constructor-arg>
	</bean>
</beans>